body{
	background-image: url(../SVG/doctors-animate.svg);
    background-repeat: no-repeat;
    background-size: 500px 700px;
    background-position: top right;
    background-color: white;
    min-height: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

#main-header{
	text-align: center;
	color: #14E49BD4;
	margin-top: auto;
	padding-top: 0px;
}


#navbar {
  background-color: #14E49BD4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#navbar ul li {
  margin: 0 10px;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: #2196f3;
}


#showcase {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  margin: 0px 0px 0px 100px;
}

#showcase h1 {
	font-size: 40px;
	line-height: 0.8em;
	padding: 5px 0px 0px 0px;
  	margin-bottom: 0px;
}

#showcase h1.gradient {
	font-size: 40px;
	line-height: 0.8em;
	padding: 5px 0px 0px 0px;
	background: -webkit-linear-gradient(#14E49BD4, #333);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	margin-bottom: 0px;
}

#showcase h2 {
  	font-size: 15px;
	margin-top: auto;
	background-color: #14E49BD4;
	color: white;
    border-color: #14E49BD4;
    border-radius: 20px;
    position: absolute;
    padding: 5px;
}


#services {
  padding: 40px;
}

#services h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.row{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-wrap: wrap;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

.card {
  background-color: #14E49BD4;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.card p {
  font-size: 18px;
  margin: 0;
  color: #fff;
}

#chat{
	position: fixed;
	background-color: gray;
	color: white;
}

.fixed-button{
	position: fixed;
	right: 0;
	top: 600px;
	font-size: 20px;
	text-decoration: none;
	margin-top: auto;
	background-color: darkred;
	color: white;
    border-radius: 20px;
    padding: 10px;
}

#main-footer {
  background-color: lightgray;
  color: #333;
  text-align: center;
  padding: 1px;
  color: white;
  border-radius: 20px;
  position: relative;
}
